<%- include('partials/header') %>


<div class="px-5 centered">
  <div class="container home-container">
    <i class="fas fa-user-secret fa-6x pb-2"></i>
    <h1 class="display-3 fw-bold home-head">Secrets</h1>
    <p class="lead">Don't keep your secrets secret, share them anonymously!</p>
    <hr class="my-4 px-5 mx-5">
    <a class="btn btn-outline-dark btn-lg mx-3" href="/register" role="button">
      Register
      <i class="ps-1 fas fa-address-book"></i>
    </a>
    <a class="btn btn-dark px-4 btn-lg" href="/login" role="button">
      Login
      <i class="ps-2 fas fa-user-astronaut"></i>
    </a>

    <div class="mt-4 pt-1 font-monospace h6 text-muted">
      ©️2022 - Pranjal Kumar, All rights reserved
    </div>
  </div>
</div>

<%- include('partials/footer') %>
